# Imports

In [29]:
import warnings
warnings.filterwarnings('ignore')
import string
import glob
import re
import itertools
import hashlib
from collections import Counter
import sys
import os
import numbers

import scipy as sp
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
import cufflinks as cf
cf.set_config_file(offline=False, world_readable=True, theme='pearl')
tls.set_credentials_file(username=os.environ.get('PLOTLY_USERNAME'), api_key=os.environ.get('PLOTLY_APIKEY'))

import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

import seaborn as sns
sns.set_context("notebook",
                font_scale=1.5,
                rc={"lines.linewidth": 2.5})

In [30]:
%reload_ext watermark
%watermark -a "Ken Cavagnolo" -n -u -v -m -h -g -p numpy,scipy,pandas,matplotlib,plotly,seaborn

Ken Cavagnolo
Last updated: Fri Mar 11 2016

CPython 2.7.10
IPython 4.0.3

numpy 1.10.4
scipy 0.17.0
pandas 0.17.1
matplotlib 1.4.2
plotly 1.8.12
seaborn 0.7.0

compiler   : GCC 5.2.1 20151010
system     : Linux
release    : 4.2.0-23-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 4
interpreter: 64bit
host name  : ubuntu
Git hash   : 762e1a49cb5b3082cc559787fa5d5dbccf9fb594

# Read Data

In [31]:
# get datadir
import platform
uname = platform.uname()[0]
if uname == 'Linux':
    datadir = '/home/kcavagnolo/ml_fun/santander_cs/data/'
elif uname == 'Darwin':
    datadir = '/Users/cavagnolo/ml_fun/santander_cs/data/'
else:
    raise OSError("Unknown system: " + str(uname))
    
files = sorted(glob.glob(datadir + '*.csv'))
hdf_file = datadir + 'features.h5'

In [4]:
# reopen hdf store
hdf = pd.HDFStore(hdf_file)
print hdf
df_test = hdf['df_test']
df_train = hdf['df_train']
df_all = hdf['df_all']
hdf.close()

# reset indexing
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_all = df_all.reset_index(drop=True)

<class 'pandas.io.pytables.HDFStore'>
File path: /home/kcavagnolo/ml_fun/santander_cs/data/features.h5
/df_all               frame        (shape->[151838,325])
/df_sample            frame        (shape->[75818,2])
/df_test              frame        (shape->[75818,371])
/df_train             frame        (shape->[76020,372])

# Summarize

TODO:

* Replace missing values
* Remove duplicates
* One-Hot encode categorical features
* Find outliers and explain
* Scale
* Standardize

In [32]:
# read sample submission
df = pd.read_csv(files[0], index_col=0)
df_sample = df.copy()

# build test df
df = pd.read_csv(files[1], index_col=0)
for c in df.columns:
    if df[c].dtypes == 'object':
        df[c] = df[c].map(lambda x: re.sub("[^0-9]", "", x))
df_test = df.copy()

# build train df
df = pd.read_csv(files[2], index_col=0)
for c in df.columns:
    if df[c].dtypes == 'object':
        df[c] = df[c].map(lambda x: re.sub("[^0-9]", "", x))
df_train = df.copy()

# show sizes
sample_size = df_sample.shape[0]
train_size = df_train.shape[0]
test_size = df_test.shape[0]

# retain train/test split
df_train['is_train'] = True
df_test['is_train'] = False

# merge df's
df_sample.reset_index(inplace=True)
df_train.reset_index(inplace=True)
df_test.reset_index(inplace=True)
df_all = pd.concat([df_train, df_test], axis=0, ignore_index=True)
all_size = df_all.shape[0]
assert train_size + test_size == all_size, "DF's are not summing correctly"
assert df_all[(df_all.is_train == True)].shape[0] == train_size, "Train split not preserved"
assert df_all[(df_all.is_train == False)].shape[0] == test_size, "Test split not preserved"

In [33]:
# go through each file and tell me what's in it
empty = []
binaries = []
categoricals = []
continuous = []
obs = df_all.shape[0]
for c in df_all.columns:
    uflag = ""
    nflag = ""
    uni = len(pd.unique(df_all[c].ravel()))
    nulls = np.count_nonzero(df_all[c].isnull())
    if uni == 1:
        empty.append(c)
    elif uni == 2:
        binaries.append(c)
    if np.issubdtype(df_all[c].dtypes, np.integer):
        categoricals.append(c)
    elif np.issubdtype(df_all[c].dtypes, np.float):
        continuous.append(c)
    if obs == uni:
        uflag = '*UNIQUE VALS PER KEY*'
    if nulls >0 :
        nflag = '*NULLS IN COL*'
    print '{:30} {:d} {:30} {:30}'.format(c, uni, uflag, nflag)
print '{:15} {:s}'.format('Singular cols:', empty)
print ''
print '{:15} {:s}'.format('Binary cols:', binaries)
print ''
print '{:15} {:s}'.format('Categorical cols:', categoricals)
print ''
print '{:15} {:s}'.format('Continuous cols:', continuous)
print ''
print '{:15} {:d}'.format('Observations:', obs)

ID                             151838 *UNIQUE VALS PER KEY*
TARGET                         3                                *NULLS IN COL*
delta_imp_amort_var18_1y3      2
delta_imp_amort_var34_1y3      2
delta_imp_aport_var13_1y3      51
delta_imp_aport_var17_1y3      11
delta_imp_aport_var33_1y3      13
delta_imp_compra_var44_1y3     29
delta_imp_reemb_var13_1y3      2
delta_imp_reemb_var17_1y3      3
delta_imp_reemb_var33_1y3      2
delta_imp_trasp_var17_in_1y3   3
delta_imp_trasp_var17_out_1y3  2
delta_imp_trasp_var33_in_1y3   3
delta_imp_trasp_var33_out_1y3  2
delta_imp_venta_var44_1y3      8
delta_num_aport_var13_1y3      8
delta_num_aport_var17_1y3      7
delta_num_aport_var33_1y3      5
delta_num_compra_var44_1y3     15
delta_num_reemb_var13_1y3      2
delta_num_reemb_var17_1y3      3
delta_num_reemb_var33_1y3      2
delta_num_trasp_var17_in_1y3   3
delta_num_trasp_var17_out_1y3  2
delta_num_trasp_var33_in_1y3   3
delta_num_trasp_var33_out_1y3  2
delta_num_venta_var44_1y3      7
imp_amort_var18_hace3          1
imp_amort_var18_ult1           4
imp_amort_var34_hace3          1
imp_amort_var34_ult1           5
imp_aport_var13_hace3          712
imp_aport_var13_ult1           287
imp_aport_var17_hace3          35
imp_aport_var17_ult1           68
imp_aport_var33_hace3          25
imp_aport_var33_ult1           18
imp_compra_var44_hace3         59
imp_compra_var44_ult1          175
imp_ent_var16_ult1             938
imp_op_var39_comer_ult1        13414
imp_op_var39_comer_ult3        16284
imp_op_var39_efect_ult1        503
imp_op_var39_efect_ult3        680
imp_op_var39_ult1              14814
imp_op_var40_comer_ult1        601
imp_op_var40_comer_ult3        705
imp_op_var40_efect_ult1        42
imp_op_var40_efect_ult3        50
imp_op_var40_ult1              462
imp_op_var41_comer_ult1        13155
imp_op_var41_comer_ult3        16003
imp_op_var41_efect_ult1        497
imp_op_var41_efect_ult3        673
imp_op_var41_ult1              14597
imp_reemb_var13_hace3          1
imp_reemb_var13_ult1           48
imp_reemb_var17_hace3          2
imp_reemb_var17_ult1           31
imp_reemb_var33_hace3          1
imp_reemb_var33_ult1           2
imp_sal_var16_ult1             124
imp_trans_var37_ult1           6808
imp_trasp_var17_in_hace3       9
imp_trasp_var17_in_ult1        13
imp_trasp_var17_out_hace3      1
imp_trasp_var17_out_ult1       5
imp_trasp_var33_in_hace3       14
imp_trasp_var33_in_ult1        18
imp_trasp_var33_out_hace3      1
imp_trasp_var33_out_ult1       3
imp_var43_emit_ult1            4240
imp_var7_emit_ult1             6
imp_var7_recib_ult1            320
imp_venta_var44_hace3          9
imp_venta_var44_ult1           79
ind_var1                       2
ind_var10_ult1                 2
ind_var10cte_ult1              2
ind_var12                      2
ind_var12_0                    2
ind_var13                      2
ind_var13_0                    2
ind_var13_corto                2
ind_var13_corto_0              2
ind_var13_largo                2
ind_var13_largo_0              2
ind_var13_medio                2
ind_var13_medio_0              2
ind_var14                      2
ind_var14_0                    2
ind_var17                      2
ind_var17_0                    2
ind_var18                      2
ind_var18_0                    2
ind_var19                      2
ind_var1_0                     2
ind_var2                       1
ind_var20                      2
ind_var20_0                    2
ind_var24                      2
ind_var24_0                    2
ind_var25                      2
ind_var25_0                    2
ind_var25_cte                  2
ind_var26                      2
ind_var26_0                    2
ind_var26_cte                  2
ind_var27                      1
ind_var27_0                    1
ind_var28                      1
ind_var28_0                    1
ind_var29                      2
ind_var29_0                    2
ind_var2_0                     1
ind_var30                      2
ind_var30_0                    2
ind_var31                      2
ind_var31_0                    2
ind_var32                      2
ind_var32_0                    2
ind_var32_cte                  2
ind_var33                      2
ind_var33_0                    2
ind_var34                      2
ind_var34_0                    2
ind_var37                      2
ind_var37_0                    2
ind_var37_cte                  2
ind_var39                      2
ind_var39_0                    2
ind_var40                      2
ind_var40_0                    2
ind_var41                      1
ind_var41_0                    2
ind_var43_emit_ult1            2
ind_var43_recib_ult1           2
ind_var44                      2
ind_var44_0                    2
ind_var46                      1
ind_var46_0                    1
ind_var5                       2
ind_var5_0                     2
ind_var6                       2
ind_var6_0                     2
ind_var7_emit_ult1             2
ind_var7_recib_ult1            2
ind_var8                       2
ind_var8_0                     2
ind_var9_cte_ult1              2
ind_var9_ult1                  2
is_train                       2
num_aport_var13_hace3          8
num_aport_var13_ult1           7
num_aport_var17_hace3          6
num_aport_var17_ult1           10
num_aport_var33_hace3          5
num_aport_var33_ult1           4
num_compra_var44_hace3         9
num_compra_var44_ult1          12
num_ent_var16_ult1             19
num_med_var22_ult3             17
num_med_var45_ult3             77
num_meses_var12_ult3           4
num_meses_var13_corto_ult3     4
num_meses_var13_largo_ult3     4
num_meses_var13_medio_ult3     2
num_meses_var17_ult3           4
num_meses_var29_ult3           3
num_meses_var33_ult3           4
num_meses_var39_vig_ult3       4
num_meses_var44_ult3           4
num_meses_var5_ult3            4
num_meses_var8_ult3            4
num_op_var39_comer_ult1        73
num_op_var39_comer_ult3        113
num_op_var39_efect_ult1        28
num_op_var39_efect_ult3        43
num_op_var39_hace2             63
num_op_var39_hace3             27
num_op_var39_ult1              81
num_op_var39_ult3              119
num_op_var40_comer_ult1        39
num_op_var40_comer_ult3        62
num_op_var40_efect_ult1        10
num_op_var40_efect_ult3        10
num_op_var40_hace2             26
num_op_var40_hace3             6
num_op_var40_ult1              34
num_op_var40_ult3              41
num_op_var41_comer_ult1        69
num_op_var41_comer_ult3        114
num_op_var41_efect_ult1        27
num_op_var41_efect_ult3        43
num_op_var41_hace2             64
num_op_var41_hace3             27
num_op_var41_ult1              78
num_op_var41_ult3              116
num_reemb_var13_hace3          1
num_reemb_var13_ult1           2
num_reemb_var17_hace3          2
num_reemb_var17_ult1           6
num_reemb_var33_hace3          1
num_reemb_var33_ult1           2
num_sal_var16_ult1             6
num_trasp_var11_ult1           21
num_trasp_var17_in_hace3       3
num_trasp_var17_in_ult1        3
num_trasp_var17_out_hace3      1
num_trasp_var17_out_ult1       2
num_trasp_var33_in_hace3       2
num_trasp_var33_in_ult1        3
num_trasp_var33_out_hace3      1
num_trasp_var33_out_ult1       2
num_var1                       3
num_var12                      4
num_var12_0                    7
num_var13                      8
num_var13_0                    8
num_var13_corto                3
num_var13_corto_0              3
num_var13_largo                8
num_var13_largo_0              8
num_var13_medio                2
num_var13_medio_0              3
num_var14                      4
num_var14_0                    6
num_var17                      9
num_var17_0                    12
num_var18                      2
num_var18_0                    2
num_var1_0                     3
num_var20                      2
num_var20_0                    2
num_var22_hace2                25
num_var22_hace3                21
num_var22_ult1                 19
num_var22_ult3                 39
num_var24                      3
num_var24_0                    4
num_var25                      10
num_var25_0                    10
num_var26                      10
num_var26_0                    10
num_var27                      1
num_var27_0                    1
num_var28                      1
num_var28_0                    1
num_var29                      2
num_var29_0                    2
num_var2_0_ult1                1
num_var2_ult1                  1
num_var30                      10
num_var30_0                    13
num_var31                      9
num_var31_0                    12
num_var32                      5
num_var32_0                    5
num_var33                      3
num_var33_0                    4
num_var34                      2
num_var34_0                    2
num_var35                      14
num_var37                      27
num_var37_0                    27
num_var37_med_ult2             23
num_var39                      2
num_var39_0                    11
num_var4                       10
num_var40                      2
num_var40_0                    3
num_var41                      1
num_var41_0                    11
num_var42                      7
num_var42_0                    9
num_var43_emit_ult1            27
num_var43_recib_ult1           48
num_var44                      3
num_var44_0                    3
num_var45_hace2                102
num_var45_hace3                71
num_var45_ult1                 105
num_var45_ult3                 197
num_var46                      1
num_var46_0                    1
num_var5                       6
num_var5_0                     6
num_var6                       2
num_var6_0                     2
num_var7_emit_ult1             3
num_var7_recib_ult1            6
num_var8                       2
num_var8_0                     3
num_venta_var44_hace3          5
num_venta_var44_ult1           11
saldo_medio_var12_hace2        5469
saldo_medio_var12_hace3        2110
saldo_medio_var12_ult1         6676
saldo_medio_var12_ult3         6801
saldo_medio_var13_corto_hace2  2902
saldo_medio_var13_corto_hace3  1608
saldo_medio_var13_corto_ult1   1671
saldo_medio_var13_corto_ult3   4513
saldo_medio_var13_largo_hace2  547
saldo_medio_var13_largo_hace3  495
saldo_medio_var13_largo_ult1   417
saldo_medio_var13_largo_ult3   999
saldo_medio_var13_medio_hace2  8
saldo_medio_var13_medio_hace3  1
saldo_medio_var13_medio_ult1   7
saldo_medio_var13_medio_ult3   8
saldo_medio_var17_hace2        164
saldo_medio_var17_hace3        37
saldo_medio_var17_ult1         228
saldo_medio_var17_ult3         228
saldo_medio_var29_hace2        8
saldo_medio_var29_hace3        2
saldo_medio_var29_ult1         7
saldo_medio_var29_ult3         7
saldo_medio_var33_hace2        90
saldo_medio_var33_hace3        45
saldo_medio_var33_ult1         107
saldo_medio_var33_ult3         107
saldo_medio_var44_hace2        197
saldo_medio_var44_hace3        60
saldo_medio_var44_ult1         288
saldo_medio_var44_ult3         288
saldo_medio_var5_hace2         25270
saldo_medio_var5_hace3         13249
saldo_medio_var5_ult1          25650
saldo_medio_var5_ult3          29322
saldo_medio_var8_hace2         2618
saldo_medio_var8_hace3         793
saldo_medio_var8_ult1          4260
saldo_medio_var8_ult3          4364
saldo_var1                     565
saldo_var12                    5858
saldo_var13                    1469
saldo_var13_corto              1254
saldo_var13_largo              388
saldo_var13_medio              6
saldo_var14                    636
saldo_var17                    215
saldo_var18                    4
saldo_var20                    301
saldo_var24                    5041
saldo_var25                    3006
saldo_var26                    3139
saldo_var27                    1
saldo_var28                    1
saldo_var29                    5
saldo_var2_ult1                1
saldo_var30                    30654
saldo_var31                    567
saldo_var32                    150
saldo_var33                    106
saldo_var34                    5
saldo_var37                    7247
saldo_var40                    560
saldo_var41                    1
saldo_var42                    28458
saldo_var44                    267
saldo_var46                    1
saldo_var5                     20454
saldo_var6                     5
saldo_var8                     3948
var15                          101
var21                          27
var3                           231
var36                          5
var38                          109982
Singular cols:  ['imp_amort_var18_hace3', 'imp_amort_var34_hace3', 'imp_reemb_var13_hace3', 'imp_reemb_var33_hace3', 'imp_trasp_var17_out_hace3', 'imp_trasp_var33_out_hace3', 'ind_var2', 'ind_var27', 'ind_var27_0', 'ind_var28', 'ind_var28_0', 'ind_var2_0', 'ind_var41', 'ind_var46', 'ind_var46_0', 'num_reemb_var13_hace3', 'num_reemb_var33_hace3', 'num_trasp_var17_out_hace3', 'num_trasp_var33_out_hace3', 'num_var27', 'num_var27_0', 'num_var28', 'num_var28_0', 'num_var2_0_ult1', 'num_var2_ult1', 'num_var41', 'num_var46', 'num_var46_0', 'saldo_medio_var13_medio_hace3', 'saldo_var27', 'saldo_var28', 'saldo_var2_ult1', 'saldo_var41', 'saldo_var46']

Binary cols:    ['delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_num_reemb_var13_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_out_1y3', 'imp_reemb_var17_hace3', 'imp_reemb_var33_ult1', 'ind_var1', 'ind_var10_ult1', 'ind_var10cte_ult1', 'ind_var12', 'ind_var12_0', 'ind_var13', 'ind_var13_0', 'ind_var13_corto', 'ind_var13_corto_0', 'ind_var13_largo', 'ind_var13_largo_0', 'ind_var13_medio', 'ind_var13_medio_0', 'ind_var14', 'ind_var14_0', 'ind_var17', 'ind_var17_0', 'ind_var18', 'ind_var18_0', 'ind_var19', 'ind_var1_0', 'ind_var20', 'ind_var20_0', 'ind_var24', 'ind_var24_0', 'ind_var25', 'ind_var25_0', 'ind_var25_cte', 'ind_var26', 'ind_var26_0', 'ind_var26_cte', 'ind_var29', 'ind_var29_0', 'ind_var30', 'ind_var30_0', 'ind_var31', 'ind_var31_0', 'ind_var32', 'ind_var32_0', 'ind_var32_cte', 'ind_var33', 'ind_var33_0', 'ind_var34', 'ind_var34_0', 'ind_var37', 'ind_var37_0', 'ind_var37_cte', 'ind_var39', 'ind_var39_0', 'ind_var40', 'ind_var40_0', 'ind_var41_0', 'ind_var43_emit_ult1', 'ind_var43_recib_ult1', 'ind_var44', 'ind_var44_0', 'ind_var5', 'ind_var5_0', 'ind_var6', 'ind_var6_0', 'ind_var7_emit_ult1', 'ind_var7_recib_ult1', 'ind_var8', 'ind_var8_0', 'ind_var9_cte_ult1', 'ind_var9_ult1', 'is_train', 'num_meses_var13_medio_ult3', 'num_reemb_var13_ult1', 'num_reemb_var17_hace3', 'num_reemb_var33_ult1', 'num_trasp_var17_out_ult1', 'num_trasp_var33_in_hace3', 'num_trasp_var33_out_ult1', 'num_var13_medio', 'num_var18', 'num_var18_0', 'num_var20', 'num_var20_0', 'num_var29', 'num_var29_0', 'num_var34', 'num_var34_0', 'num_var39', 'num_var40', 'num_var6', 'num_var6_0', 'num_var8', 'saldo_medio_var29_hace3']

Categorical cols: ['ID', 'delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var17_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_in_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_in_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_num_reemb_var13_1y3', 'delta_num_reemb_var17_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_in_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_in_1y3', 'delta_num_trasp_var33_out_1y3', 'imp_amort_var18_hace3', 'imp_amort_var34_hace3', 'imp_reemb_var13_hace3', 'imp_reemb_var33_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_out_hace3', 'imp_trasp_var33_out_hace3', 'ind_var1', 'ind_var10_ult1', 'ind_var10cte_ult1', 'ind_var12', 'ind_var12_0', 'ind_var13', 'ind_var13_0', 'ind_var13_corto', 'ind_var13_corto_0', 'ind_var13_largo', 'ind_var13_largo_0', 'ind_var13_medio', 'ind_var13_medio_0', 'ind_var14', 'ind_var14_0', 'ind_var17', 'ind_var17_0', 'ind_var18', 'ind_var18_0', 'ind_var19', 'ind_var1_0', 'ind_var2', 'ind_var20', 'ind_var20_0', 'ind_var24', 'ind_var24_0', 'ind_var25', 'ind_var25_0', 'ind_var25_cte', 'ind_var26', 'ind_var26_0', 'ind_var26_cte', 'ind_var27', 'ind_var27_0', 'ind_var28', 'ind_var28_0', 'ind_var29', 'ind_var29_0', 'ind_var2_0', 'ind_var30', 'ind_var30_0', 'ind_var31', 'ind_var31_0', 'ind_var32', 'ind_var32_0', 'ind_var32_cte', 'ind_var33', 'ind_var33_0', 'ind_var34', 'ind_var34_0', 'ind_var37', 'ind_var37_0', 'ind_var37_cte', 'ind_var39', 'ind_var39_0', 'ind_var40', 'ind_var40_0', 'ind_var41', 'ind_var41_0', 'ind_var43_emit_ult1', 'ind_var43_recib_ult1', 'ind_var44', 'ind_var44_0', 'ind_var46', 'ind_var46_0', 'ind_var5', 'ind_var5_0', 'ind_var6', 'ind_var6_0', 'ind_var7_emit_ult1', 'ind_var7_recib_ult1', 'ind_var8', 'ind_var8_0', 'ind_var9_cte_ult1', 'ind_var9_ult1', 'num_aport_var13_hace3', 'num_aport_var13_ult1', 'num_aport_var17_hace3', 'num_aport_var17_ult1', 'num_aport_var33_hace3', 'num_aport_var33_ult1', 'num_compra_var44_hace3', 'num_compra_var44_ult1', 'num_ent_var16_ult1', 'num_med_var22_ult3', 'num_med_var45_ult3', 'num_meses_var12_ult3', 'num_meses_var13_corto_ult3', 'num_meses_var13_largo_ult3', 'num_meses_var13_medio_ult3', 'num_meses_var17_ult3', 'num_meses_var29_ult3', 'num_meses_var33_ult3', 'num_meses_var39_vig_ult3', 'num_meses_var44_ult3', 'num_meses_var5_ult3', 'num_meses_var8_ult3', 'num_op_var39_comer_ult1', 'num_op_var39_comer_ult3', 'num_op_var39_efect_ult1', 'num_op_var39_efect_ult3', 'num_op_var39_hace2', 'num_op_var39_hace3', 'num_op_var39_ult1', 'num_op_var39_ult3', 'num_op_var40_comer_ult1', 'num_op_var40_comer_ult3', 'num_op_var40_efect_ult1', 'num_op_var40_efect_ult3', 'num_op_var40_hace2', 'num_op_var40_hace3', 'num_op_var40_ult1', 'num_op_var40_ult3', 'num_op_var41_comer_ult1', 'num_op_var41_comer_ult3', 'num_op_var41_efect_ult1', 'num_op_var41_efect_ult3', 'num_op_var41_hace2', 'num_op_var41_hace3', 'num_op_var41_ult1', 'num_op_var41_ult3', 'num_reemb_var13_hace3', 'num_reemb_var13_ult1', 'num_reemb_var17_hace3', 'num_reemb_var17_ult1', 'num_reemb_var33_hace3', 'num_reemb_var33_ult1', 'num_sal_var16_ult1', 'num_trasp_var11_ult1', 'num_trasp_var17_in_hace3', 'num_trasp_var17_in_ult1', 'num_trasp_var17_out_hace3', 'num_trasp_var17_out_ult1', 'num_trasp_var33_in_hace3', 'num_trasp_var33_in_ult1', 'num_trasp_var33_out_hace3', 'num_trasp_var33_out_ult1', 'num_var1', 'num_var12', 'num_var12_0', 'num_var13', 'num_var13_0', 'num_var13_corto', 'num_var13_corto_0', 'num_var13_largo', 'num_var13_largo_0', 'num_var13_medio', 'num_var13_medio_0', 'num_var14', 'num_var14_0', 'num_var17', 'num_var17_0', 'num_var18', 'num_var18_0', 'num_var1_0', 'num_var20', 'num_var20_0', 'num_var22_hace2', 'num_var22_hace3', 'num_var22_ult1', 'num_var22_ult3', 'num_var24', 'num_var24_0', 'num_var25', 'num_var25_0', 'num_var26', 'num_var26_0', 'num_var27', 'num_var27_0', 'num_var28', 'num_var28_0', 'num_var29', 'num_var29_0', 'num_var2_0_ult1', 'num_var2_ult1', 'num_var30', 'num_var30_0', 'num_var31', 'num_var31_0', 'num_var32', 'num_var32_0', 'num_var33', 'num_var33_0', 'num_var34', 'num_var34_0', 'num_var35', 'num_var37', 'num_var37_0', 'num_var37_med_ult2', 'num_var39', 'num_var39_0', 'num_var4', 'num_var40', 'num_var40_0', 'num_var41', 'num_var41_0', 'num_var42', 'num_var42_0', 'num_var43_emit_ult1', 'num_var43_recib_ult1', 'num_var44', 'num_var44_0', 'num_var45_hace2', 'num_var45_hace3', 'num_var45_ult1', 'num_var45_ult3', 'num_var46', 'num_var46_0', 'num_var5', 'num_var5_0', 'num_var6', 'num_var6_0', 'num_var7_emit_ult1', 'num_var7_recib_ult1', 'num_var8', 'num_var8_0', 'num_venta_var44_hace3', 'num_venta_var44_ult1', 'saldo_medio_var13_medio_hace3', 'saldo_var13_medio', 'saldo_var18', 'saldo_var27', 'saldo_var28', 'saldo_var2_ult1', 'saldo_var34', 'saldo_var41', 'saldo_var46', 'var15', 'var21', 'var3', 'var36']


* Column names look fine, don't need to clean those
* No nulls, hooray
* Looks like no column has no unique mapping to ID

Lots of empty cols, are they real? If so, ditch them.

In [34]:
a = []
for c in df_all.columns:
    if df_all[c].sum() == 0:
        a.append(c)
if len(empty) == len(set(a) & set(empty)):
    print df_all.shape
    print df_all.drop(empty, 1).shape

(151838, 372)
(151838, 338)

In [35]:
df_all.drop(empty, 1, inplace=True)

What about binary columns?

In [36]:
val = []
for c in binaries:
    print '{:30}{}'.format(c, sorted(df_all[c].unique()))

delta_imp_amort_var18_1y3     [0, 9999999999]
delta_imp_amort_var34_1y3     [0, 9999999999]
delta_imp_reemb_var13_1y3     [0, 9999999999]
delta_imp_reemb_var33_1y3     [0, 9999999999]
delta_imp_trasp_var17_out_1y3 [0, 9999999999]
delta_imp_trasp_var33_out_1y3 [0, 9999999999]
delta_num_reemb_var13_1y3     [0, 9999999999]
delta_num_reemb_var33_1y3     [0, 9999999999]
delta_num_trasp_var17_out_1y3 [0, 9999999999]
delta_num_trasp_var33_out_1y3 [0, 9999999999]
imp_reemb_var17_hace3         [0.0, 12027.15]
imp_reemb_var33_ult1          [0, 1200]
ind_var1                      [0, 1]
ind_var10_ult1                [0, 1]
ind_var10cte_ult1             [0, 1]
ind_var12                     [0, 1]
ind_var12_0                   [0, 1]
ind_var13                     [0, 1]
ind_var13_0                   [0, 1]
ind_var13_corto               [0, 1]
ind_var13_corto_0             [0, 1]
ind_var13_largo               [0, 1]
ind_var13_largo_0             [0, 1]
ind_var13_medio               [0, 1]
ind_var13_medio_0             [0, 1]
ind_var14                     [0, 1]
ind_var14_0                   [0, 1]
ind_var17                     [0, 1]
ind_var17_0                   [0, 1]
ind_var18                     [0, 1]
ind_var18_0                   [0, 1]
ind_var19                     [0, 1]
ind_var1_0                    [0, 1]
ind_var20                     [0, 1]
ind_var20_0                   [0, 1]
ind_var24                     [0, 1]
ind_var24_0                   [0, 1]
ind_var25                     [0, 1]
ind_var25_0                   [0, 1]
ind_var25_cte                 [0, 1]
ind_var26                     [0, 1]
ind_var26_0                   [0, 1]
ind_var26_cte                 [0, 1]
ind_var29                     [0, 1]
ind_var29_0                   [0, 1]
ind_var30                     [0, 1]
ind_var30_0                   [0, 1]
ind_var31                     [0, 1]
ind_var31_0                   [0, 1]
ind_var32                     [0, 1]
ind_var32_0                   [0, 1]
ind_var32_cte                 [0, 1]
ind_var33                     [0, 1]
ind_var33_0                   [0, 1]
ind_var34                     [0, 1]
ind_var34_0                   [0, 1]
ind_var37                     [0, 1]
ind_var37_0                   [0, 1]
ind_var37_cte                 [0, 1]
ind_var39                     [0, 1]
ind_var39_0                   [0, 1]
ind_var40                     [0, 1]
ind_var40_0                   [0, 1]
ind_var41_0                   [0, 1]
ind_var43_emit_ult1           [0, 1]
ind_var43_recib_ult1          [0, 1]
ind_var44                     [0, 1]
ind_var44_0                   [0, 1]
ind_var5                      [0, 1]
ind_var5_0                    [0, 1]
ind_var6                      [0, 1]
ind_var6_0                    [0, 1]
ind_var7_emit_ult1            [0, 1]
ind_var7_recib_ult1           [0, 1]
ind_var8                      [0, 1]
ind_var8_0                    [0, 1]
ind_var9_cte_ult1             [0, 1]
ind_var9_ult1                 [0, 1]
is_train                      [False, True]
num_meses_var13_medio_ult3    [0, 2]
num_reemb_var13_ult1          [0, 3]
num_reemb_var17_hace3         [0, 3]
num_reemb_var33_ult1          [0, 3]
num_trasp_var17_out_ult1      [0, 3]
num_trasp_var33_in_hace3      [0, 3]
num_trasp_var33_out_ult1      [0, 3]
num_var13_medio               [0, 3]
num_var18                     [0, 3]
num_var18_0                   [0, 3]
num_var20                     [0, 3]
num_var20_0                   [0, 3]
num_var29                     [0, 3]
num_var29_0                   [0, 3]
num_var34                     [0, 3]
num_var34_0                   [0, 3]
num_var39                     [0, 3]
num_var40                     [0, 3]
num_var6                      [0, 3]
num_var6_0                    [0, 3]
num_var8                      [0, 3]
saldo_medio_var29_hace3       [0.0, 145.19999999999999]

What are all these 9999999999? Are they junk numbers?

In [37]:
all_nines = []
for c in binaries:
    cond = df_all[c] == 9999999999
    a = len(df_all[(cond)])
    b = len(df_all[(df_all[c] > 0)])
    if a > 0:
        print '{:30}{:5d}{:5d}'.format(c, a, b)
        all_nines.append(c)

delta_imp_amort_var18_1y3         3    3
delta_imp_amort_var34_1y3         4    4
delta_imp_reemb_var13_1y3        65   65
delta_imp_reemb_var33_1y3         1    1
delta_imp_trasp_var17_out_1y3     4    4
delta_imp_trasp_var33_out_1y3     2    2
delta_num_reemb_var13_1y3        65   65
delta_num_reemb_var33_1y3         1    1
delta_num_trasp_var17_out_1y3     4    4
delta_num_trasp_var33_out_1y3     2    2

Cols with all nines have a patternt to them, and there aren't many. Convert to 0, in which case the columns will be all 0's and need to be dropped, or convert to 1's and keep as an attribute? Keep.

In [38]:
all_nines

['delta_imp_amort_var18_1y3',
 'delta_imp_amort_var34_1y3',
 'delta_imp_reemb_var13_1y3',
 'delta_imp_reemb_var33_1y3',
 'delta_imp_trasp_var17_out_1y3',
 'delta_imp_trasp_var33_out_1y3',
 'delta_num_reemb_var13_1y3',
 'delta_num_reemb_var33_1y3',
 'delta_num_trasp_var17_out_1y3',
 'delta_num_trasp_var33_out_1y3']

In [39]:
for c in all_nines:
    df_all[c][(df_all[c] == 9999999999)] = 1

There are also lots of columns named <some_col> and <some_col_0>, are these identical? If so, drop the _0 ones.

In [40]:
dup_cols = []
cols = df_all.columns
for c in cols:
    dupe = c+'_0'
    if dupe in cols:
        if (df_all[c].values - df_all[dupe].values).sum() == 0:
            print 'Duplicates: ', c, dupe
            dup_cols.append(dupe)

Duplicates:  ind_var13_medio ind_var13_medio_0
Duplicates:  ind_var18 ind_var18_0
Duplicates:  ind_var25 ind_var25_0
Duplicates:  ind_var26 ind_var26_0
Duplicates:  ind_var32 ind_var32_0
Duplicates:  ind_var34 ind_var34_0
Duplicates:  ind_var37 ind_var37_0
Duplicates:  num_var18 num_var18_0
Duplicates:  num_var25 num_var25_0
Duplicates:  num_var26 num_var26_0
Duplicates:  num_var32 num_var32_0
Duplicates:  num_var34 num_var34_0
Duplicates:  num_var37 num_var37_0

In [41]:
df_all.drop(dup_cols, 1, inplace=True)

Keep a record of how many 'false' entries are in each row

In [42]:
df_all['cnt_0'] = (df_all.drop('is_train', 1) == 0).astype(int).sum(axis=1)

# Save

In [43]:
# check sizes
assert df_all[(df_all.is_train == True)].shape[0] == train_size, "Train split not preserved"
assert df_all[(df_all.is_train == False)].shape[0] == test_size, "Test split not preserved"

In [44]:
# save to hdf5 for easier loading later
hdf = pd.HDFStore(hdf_file)
hdf.put('df_sample', df_sample)
hdf.put('df_test', df_test)
hdf.put('df_train', df_train)
hdf.put('df_all', df_all)
hdf.close()

# Attribute Summaries

## Relations

In [ ]:
df_all[['id','location', 'fault_severity']].scatter_matrix()

Looks like locations 100-500 don't produce any fault_sev==2 events. This could be useful to a model, so maybe don't throw out location as I had previously.

In [ ]:
df_all.groupby(['location', 'fault_severity']).size()

## Histograms

In [ ]:
# build axes
mpl_fig = plt.figure()
ax1 = mpl_fig.add_subplot(411)
ax2 = mpl_fig.add_subplot(412)
ax3 = mpl_fig.add_subplot(413)
ax4 = mpl_fig.add_subplot(414)
axs = [ax1, ax2, ax3, ax4]

# iterate over each
for cond in [True, False]:
    for i, b in enumerate(attributes):
        y = df_all[(df_all.is_train == cond)].filter(regex=b).apply(pd.value_counts).fillna(0).T[0]
        y = 100.*(1.0-(y/df_all[(df_all.is_train == cond)].shape[0]))
        x = range(1, len(y)+1)
        axs[i].bar(x, y, label=attributes[i])
        axs[i].set_ylabel(attributes[i])
py.iplot_mpl(mpl_fig, strip_style=True)

Distributions looks similar, so train will cv w/ test. Any structure in sequence of ID's?

## Sequencing

In [ ]:
df = df_all[['id', 'fault_severity', 'location']].set_index('id')
df.iplot(subplots=True, shape=(2,1), shared_xaxes=True)

Both look like noise to me, gonna leave it for now. What about correlations among the various codes?

## Correlations

In [ ]:
strongly_correlated = []
corr_thresh = 0.12

In [ ]:
a = ['severity_type', 'event_type', 'resource_type']
for b in a:

    # correlation matrix
    c = df_all.filter(regex=b).copy()
    corr = c.corr(min_periods=len(c.columns)/10)

    # colormap
    cmap = sns.light_palette("navy", as_cmap=True, reverse=True)
    
    # clustered heatmap of distances w/o mask
    # dist 0 --> close, 1 --> distant
    dsim = 1.0-np.abs(corr)
    
    # find degenerate params
    mask = np.ones(dsim.shape,dtype='bool')
    mask[np.triu_indices(len(dsim))] = False
    x = ((dsim < corr_thresh) & mask).values.nonzero()
    a = zip(x[0], x[1])
    for x, y in a:
        i1 = dsim.index[x]
        i2 = dsim.columns[y]
        strongly_correlated.append((i1, i2))

    # plot matrix
    if len(dsim) > 10:
        annot=False
    else:
        annot=True
    plt.figure(figsize=(15, 12))
    g = sns.clustermap(data=dsim,
                       method='complete',
                       metric='correlation',
                       cmap=cmap, linewidths=0.5, vmin=0.0, vmax = 1.0,
                       annot=annot, fmt='.2f', annot_kws={'size':'10'})
    plt.setp(g.ax_heatmap.yaxis.get_majorticklabels(), rotation=0)

In [ ]:
# log_feature specific
c = df_all.filter(regex='log_feature').copy()
log_corr = c.corr(min_periods=len(c.columns)/10)
log_dsim = 1.0-np.abs(log_corr)

In [ ]:
mask = np.ones(log_dsim.shape,dtype='bool')
mask[np.triu_indices(len(log_dsim))] = False
x = ((log_dsim < corr_thresh) & mask).values.nonzero()
a = zip(x[0], x[1])
for x, y in a:
    i1 = log_dsim.index[x]
    i2 = log_dsim.columns[y]
    strongly_correlated.append((i1, i2))

In [ ]:
cmap = sns.light_palette("navy", as_cmap=True, reverse=True)
g = sns.clustermap(data=log_dsim,
                   method='complete',
                   metric='correlation',
                   cmap=cmap,
                   xticklabels=False, yticklabels=False,
                   linewidths=0.0,
                   vmin=0.0,
                   vmax = 1.0)

In [ ]:
# log_feature specific
a = '|'.join(['severity_type', 'event_type', 'resource_type', 'log_feature'])
c = df_all.filter(regex=a).copy()
all_corr = c.corr(min_periods=len(c.columns)/10)
all_dsim = 1.0 - np.abs(all_corr)

In [ ]:
mask = np.ones(all_dsim.shape,dtype='bool')
mask[np.triu_indices(len(all_dsim))] = False
x = ((all_dsim < 0.03) & mask).values.nonzero()
a = zip(x[0], x[1])
for x, y in a:
    i1 = all_dsim.index[x]
    i2 = all_dsim.columns[y]
    if i1[:5] != i2[:5]:
        strongly_correlated.append((i1, i2))

In [ ]:
plt.figure(figsize=(22, 20))
cmap = sns.light_palette("navy", as_cmap=True, reverse=True)
g = sns.clustermap(data=all_dsim,
                   method='complete',
                   metric='correlation',
                   cmap=cmap,
                   xticklabels=False, yticklabels=False,
                   linewidths=0.0,
                   vmin=0.0,
                   vmax = 1.0)

In [ ]:
print len(strongly_correlated)
strongly_correlated

The serverity types are mostly anti-correlated except type 1 and 2.

There is interesting structure in the resource and event types. Makes me more curious about how these events are networked, i.e. communicating to each other? Build out as network problem? Can't: id and loc are 1:1 so the only connections will be among events that are the same, in that they have the same coding across all types. I don't see that as informative to a model.

Log features are also clustered.

**But, this is clearly a well-defined classification problem.**

Want to see chains of correlations, e.g. [a,b]...[b,c], does that mean [a,c]? Run this...

In [ ]:
# most common features in corr stack
sc_pairs = list(sum(strongly_correlated, ()))
Counter(sc_pairs).most_common(10)

In [ ]:
chains = []
for s in sorted(set(sum(strongly_correlated, ()))):
    tmp = []
    for sc in strongly_correlated:
        if s in sc:
            tmp.append(sc)
    
    chains.append(tuple(sorted(list(set(sum(tmp,()))))))

In [ ]:
print 'Strong correlations: ', len(strongly_correlated)
print 'Resulting chains: ', len(set(chains))

In [ ]:
# for each chain
# create super feature
# find rows where all chain feature values == 1
# set super feature col == 1

a=['log_feature_160', 'log_feature_44']
df = df_train.copy()
df['super'] = np.zeros(len(df_train))
for c in a:
    df.super[(df[c] > 0)] = 1
    
d.sales[d.sales==24] = 100

## Averages

In [ ]:
df = df_all[(df_all.is_train==True)].copy()

In [ ]:
sorted(df.fault_severity.unique())

In [ ]:
names = []
pers = []
avgs = []
stds = []
for a in attributes:
    cnt = len(a)
    for c in filter(lambda s: s[:cnt] == a, df.columns):
        d = df[(df[c]>0)]
        names.append(c)
        pers.append(100.*float(d.shape[0])/float(df.shape[0]))
        avgs.append(d.fault_severity.mean())
        stds.append(d.fault_severity.std())

In [ ]:
fs = pd.DataFrame({'%tot':pers, 'avg':avgs, 'std':stds}, index=names).fillna(0)

In [ ]:
fsv = [0, 1, 2]
cnt = 0
drop_cols = {}
for n in fsv:
    a = fs[(fs['avg']==n) & (fs['std']==0)]
    drop_cols[str(n)] = list(a.index)
    cnt += a.shape[0]
    print n, a.shape[0]
print "Drop ", cnt, " of ", fs.shape[0]
print "Keeping ", fs.shape[0]-cnt, " columns"

So there are 192 attributes with a set fault severity value and standard dev of zero. So what if I build a model for events where all those features are 0 with those features dropped. So the fitting logic then becomes:

```python
known_fs = {}
for fs, cols in drop_col.iteritems():
    for col in cols:
        for id in df[df[col] > 0]['id']:
            known_fs[id] = fs        
df = pd.get_dummies(known_fs)
```

## Uniqueness

### Event ID

In [ ]:
# remove columns not characterizing events
cols = [c for c in df_all.columns if any(c[:5] in a for a in attributes)]
df = df_all[cols]

# ensure all are binary
df[(df != 0)] = 1

# convert binary strings to a 36-bit hashed md5 hex code for easier handling
df = df.apply(lambda x: int(hashlib.md5(''.join([e for e in x.astype(int).astype(str)])).hexdigest(), 36), axis=1)

# attach back
df_all['evt_id'] = df.astype(str)

# save group sizes
dsize = len(df_all)

### Event ID(Fault Severity)

In [ ]:
# a stats handler for grouping
def get_stats(group):
    return {'evt_fs_sprd': group.max() - group.min(),
            'evt_cnt': len(group),
            'evt_freq': len(group)/float(dsize),
            'evt_fs_mean': group.mean(),
            'evt_fs_std': group.std()
           }

# build stats for each type of event
events = df_all['fault_severity'].\
            groupby(df_all['evt_id']).\
            apply(get_stats).\
            unstack().\
            sort_values(by='evt_freq', ascending=False).reset_index()

In [ ]:
events.drop('evt_id', 1).iplot(kind='histogram', barmode='stack', histnorm='percent')

In [ ]:
# categorize the events based on freq
bins = [0, 0.00475, 0.009, 1]
group_names = ['rare', 'sparse', 'common']
events['evt_cat'] = pd.cut(events['evt_freq'], bins, labels=group_names)

In [ ]:
events.iplot(kind='bubble', x='mean', y='freq', size='cnt',
             text='hexcode', categories='event_category',
             xTitle='Mean Fault Severity', yTitle='Type Frequency')

### Locations(Fault Severity)

In [ ]:
# a stats handler for grouping
def get_stats(group):
    return {'loc_fs_sprd': group.max() - group.min(),
            'loc_cnt': len(group),
            'loc_freq': len(group)/float(dsize),
            'loc_fs_mean': group.mean(),
            'loc_fs_std': group.std()
           }

locations = df_all['fault_severity'].\
                groupby(df_all['location']).\
                apply(get_stats).\
                unstack().\
                sort_values(by='loc_freq', ascending=False).reset_index()

In [ ]:
locations.drop('location', 1).iplot(kind='histogram', barmode='stack', histnorm='percent')

In [ ]:
# categorize the events based on freq
bins = [0, 0.0013, 0.004, 1]
group_names = ['rare', 'sparse', 'common']
locations['loc_cat'] = pd.cut(locations['loc_freq'], bins, labels=group_names)

In [ ]:
locations.iplot(kind='bubble', x='loc_fs_mean', y='loc_freq',
                size='loc_cnt', text='location', categories='location_category',
                xTitle='Mean Fault Severity', yTitle='Location Frequency')

## Culling

In [ ]:
df_culled = df_all.copy()
for k, v in drop_cols.iteritems():
    for c in v:
        df_culled = df_culled[df_culled[c] == 0]
        df_culled.drop(c, 1, inplace=True)
print "Removed ", df_all.shape[0] - df_culled.shape[0], " rows"
print "Dropped ", df_all.shape[1] - df_culled.shape[1], " cols"

In [ ]:
hdf = pd.HDFStore(hdf_file)
hdf.put('df_culled', df_culled)
hdf.close()

In [ ]:
known_fs = {}
for fs, cols in drop_cols.iteritems():
    for col in cols:
        for id in df_all[(df_all[col] > 0) & (df_all.is_train==False)]['id']:
            known_fs[id] = fs
df_known = pd.Series(known_fs, name='predict')
df_known.index.name = 'id'
df_known = pd.get_dummies(df_known, prefix='predict').reset_index()

In [ ]:
df_known.head()

In [ ]:
check = df_known['id'].head()
for a in check:
    print known_fs[a]

In [ ]:
hdf = pd.HDFStore(hdf_file)
hdf.put('df_known', df_known)
hdf.close()

**NB: in the end, the shapes of culled+known = df_all**

In [ ]:
assert df_known.shape[0] + df_culled[(df_culled.is_train==False)].shape[0] == df_all[(df_all.is_train==False)].shape[0], "this is wrong"

The known fault severity values are now stored in df_known in the hdf5, so let's predict the ones we don't know. K.I.S.S. == random forest.

## Merge

In [ ]:
train_merge = pd.read_csv('data/train_merge.csv')
test_merge = pd.read_csv('data/test_merge.csv')

In [ ]:
# merge loc info and drop dupe cols
locations.location = locations.location.astype('int64')
a = pd.merge(train_merge, locations, how = 'left', left_on = 'numloc', right_on = 'location')
b = pd.merge(df_all[['id', 'evt_id']], events, how = 'left', left_on = 'evt_id', right_on = 'evt_id')
c = pd.merge(a, b, how = 'left', left_on = 'id', right_on = 'id')
c.drop(['loc_nid', 'numloc'], 1, inplace=True)
train_merge = c.copy()

In [ ]:
a = pd.merge(test_merge, locations, how = 'left', left_on = 'numloc', right_on = 'location')
b = pd.merge(df_all[['id', 'evt_id']], events, how = 'left', left_on = 'evt_id', right_on = 'evt_id')
c = pd.merge(a, b, how = 'left', left_on = 'id', right_on = 'id')
c.drop(['loc_nid', 'numloc'], 1, inplace=True)
test_merge = c.copy()

In [ ]:
# one hot encode
train_merge = pd.get_dummies(train_merge, columns=['loc_cat', 'evt_cat'])
test_merge = pd.get_dummies(test_merge, columns=['loc_cat', 'evt_cat'])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
train_merge.location = train_merge[['location']].apply(lambda x: MinMaxScaler().fit_transform(x))
test_merge.location = test_merge[['location']].apply(lambda x: MinMaxScaler().fit_transform(x))

In [ ]:
train_merge.to_csv('data/train_master.csv', index=False)
test_merge.to_csv('data/test_master.csv', index=False)

# Scratch

In [21]:
junk = pd.DataFrame({'a':[1,1,True], 'b':[1,1,False], 'c':[0,0,0]})
junk['n0'] = (junk.drop('c', 1) == 0).astype(int).sum(axis=1)